%h1= "You are in room #{@room.name}"
.riddle-question
  = "What is #{@riddle.question}"
%p
  - @riddle.answers.each do |answer|
    = button_tag answer
%p
  = "Your selected answer is: "+@selected_answer
%p
  = link_to 'Leave this room', '/'
