#score
  = "Score: #{@player.score}"
#riddle-question
  = @riddle.question
#answers
  - @riddle.answers.each do |answer|
    = button_to answer, @room, {remote: true, params: {selected: answer}, class: 'button-answer'}
#selected-answer
  = "Please select an answer"
#feedback
%p
  = link_to 'Leave this room', '/'
